<!DOCTYPE html>
<html lang="en"></html>
<html>
<head>
	<title>aboutPage</title>
    <meta charset="utf-8">
	<style>
		
        body {
			background-image: url(https://generationiron.com/wp-content/uploads/2020/12/Do-You-Need-to-Train-to-Muscle-Failure-for-Hypertrophy-1-696x369.jpg);
			/* background-image: url('muscle2.png'); */
			background-size: cover;
			background-repeat:no-repeat;
			background-attachment:fixed;
			background-position: center;
        }

        .aboutPage {
			background-color: rgba(242,242,242,.5);
			padding:2rem;
			position: absolute;
			height: 60%;
			width: 40%;
			top: 20%;
			left:29%;
			text-align: center;
			overflow-x: scroll;
		}

		/* Style the navigation bar */
		nav {
			background-color: #333;
			overflow: hidden;
		}

		/* Style the links inside the navigation bar */
		nav a {
			float: left;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		/* Change the color of links on hover */
		nav a:hover {
			background-color: #ddd;
			color: black;
		}

       
		.welcome-message {
			font-size: 28px;
            text-align: center;
		}

		/* Style the button */
		#generateButton {
			background-color: #333;
			color: white;
			border: none;
			padding: 12px 24px;
			font-size: 16px;
			cursor: pointer;
			border-radius: 4px;
			text-decoration: none;
			margin-top: 24px;
		}

		/* Change the button color on hover */
		#generateButton:hover {
			background-color: #ddd;
			color: black;
		}
	</style>
</head>
<body>
    
    <!-- Create the navigation bar -->
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/generate">Generate Workout</a>
    </nav>
    <div class="aboutPage">
        <!-- Create the welcome section -->
        <div class="welcome-section">
            <div class="welcome-message">
                <h3>About</h3>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;Welcome to our personalized workout generator application! Our goal is to make fitness accessible to 
                    everyone by providing a customized exercise plan based on your targeted body part, fitness level, and goals. 
                    You can customize your workout based on equipment, exercise preferences, and duration. Our app also provides guidance 
                    on proper form and set counts to ensure you exercise safely and effectively.
                    <br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;We believe that fitness should be enjoyable and achievable, and that's why we designed our app to make it easy for 
                    you to achieve your fitness goals. By providing a personalized workout plan, our app helps you to focus on the areas 
                    that matter most to you and create a workout that fits your unique needs and preferences.
                </p>
                <a href="/generate" id="generateButton">Generate Now</a>
            </div>
        </div>
    </div>
	

</body>
</html>
